<h1>Welcome <%= @username %></h1>
  <h2>My notes</h2>

  <% @notes.each do |note| %>
    <div class="card rounded border-0" style="width: 18rem;">
      <div class="card-body link-dark">
        <h4><%= link_to note.note_name, note %></h4>
        <%# Render the partial only when the note is clicked %>
        <% if params[:id] == note.id.to_s %>
          <%= render partial: 'notes/show', locals: { note: note } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <br>
  <%= link_to new_note_path do %>
  <button type="button" class="btn btn-outline-info btn-lg">+</button>
  <% end %> 
