<h1>Welcome <%= @username %></h1>

<h2>List of all notes</h2>
<% @notes.each do |note| %>
  <h4><%= link_to note.note_name, note %></h4>
  <%# Render the partial only when the note is clicked %>
  <% if params[:id] == note.id.to_s %>
    <%= render partial: 'notes/show', locals: { note: note } %>
  <% end %>
<% end %>

<br>
<%= link_to 'New Note', new_note_path %>
