<h1 class="welcome">Welcome <%= @username %></h1>
<h2>My notes</h2>
<div class="btn-container">
  <%= link_to new_note_path, class: "btn btn-outline-dark" do %>
    Add a new note
  <% end %>
</div>
<% @notes.each do |note| %>
  <div class="card rounded border-0 bg-dark p-2 text-white" style="width: 18rem;">
    <div class="card-body link-dark">
      <h4><%= link_to note.note_name, note, class: "text-white" %></h4>
      <%# Render the partial only when the note is clicked %>
      <% if params[:id] == note.id.to_s %>
        <%= render partial: 'notes/show', locals: { note: note } %>
      <% end %>
    </div>
  </div>
<% end %>
