<h1>
Welcome page 
</h1>
<%= link_to new_user_session_path do %>
  <button type="button" class="btn btn-info">Sign in</button>
<% end %>

<%= link_to new_user_registration_path do %>
  <button type="button" class="btn btn-info">Sign up</button>
<% end %>
