/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/013/123/944/original/abstract-distorted-aesthetic-vertical-background-with-striped-waves-trendy-illustration-in-style-retro-60s-70s-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.custm-image {
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Adjust the spacing between the image and text */
}

.logo-text {
  font-size: 1.5rem; /* Adjust the font size as needed */
  vertical-align: middle; /* Vertically align the text with the image */
}

.content {
  max-width: 500px;
  margin: auto;
}

h1, 
h2, 
h3, 
h5 {
  font-family: 'Lilita One', serif;
  font-weight: 700;
  text-align: center;
}

h4,  
 a {
  font-family: 'Lilita One', sans-serif;
  font-weight: 200;
  text-align: center;
}


p { 
  font-family: 'BioRhyme', sans-serif;
  font-weight: 300;
  font-size: 25px;
}

.navbar-brand {
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
}

.nav-item {
  font-family: 'Lilita One', sans-serif;
  font-weight: 700;
}

.card {
  margin: 20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*box-shadow: -8px 8px 1px rgba(0, 0, 0, 0.9); /* Adjust the shadow properties as needed */
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

.btn-container {
  font-family: 'Lilita One', sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

.btn-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; 
}

.btn-container > * {
  vertical-align: middle;
  display: inline-block;
}

.btn {
  color: red;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
}

.custom-image {
  width: 300px;
  height: auto;
  margin-bottom: 4px;
}

.cntr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: -95px;
}

.cstm-image {
  width: 100px;
  height: auto;
  margin-bottom: 40px; /* Maintain aspect ratio */
}
